.table {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 15px;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.list {
  padding: 0;
  margin: 0;
  tr {
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & td:first-child {
      width: 65%;
    }
    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}
